<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All user list</title>
    <style>
        td, th {
            border: 1px solid blue;
        }
    </style>
</head>
<body>
<li><a th:href="@{/}">Home</a></li>
<div>Search for a book by title and by author</div>
<form method="post" action="/admin/filter">
    <input type="text" name="filter">
    <button type="submit">Search</button>
</form>
<h4>Update and delete user</h4>
<ol>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
        </thead>
        <tr th:each="item, status : ${users}">
            <td th:text="${status.index + 1}">1</td>
            <td th:text="${item.username}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.password}"></td>
            <td th:text="${item.roles}"></td>
            <td><a th:href="@{/admin/{id}(id=${item.getId()})}">Edit</a></td>
            <td><a th:href="@{/admin/delete/{id}(id=${item.getId()})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</ol>
<div class="pagination-div">
    <span th:if="${users.hasPrevious()}">
        <a th:href="@{/admin(page=${users.number-1},size=${users.size})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, users.totalPages - 1)}">
        <span th:if="${users.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${users.number == i}">
             <a th:href="@{/admin(page=${i},size=${users.size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${users.hasNext()}">
        <a th:href="@{/admin(page=${users.number+1},size=${users.size})}">Next</a>
    </span>
</div>
</body>
</html>