<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book edit</title>
</head>
<body>
<li><a th:href="@{/}">Home</a></li>
<h4>Update book</h4>
<form th:action="@{/book/{id}(id=${findBook.getId()})}" th:object="${bookUpdate}" method="post">
    <p>Name book</p>
    <input type="text" name="nameBookDto" th:value="${findBook.getNameBook()}">
    <p>Price book</p>
    <input type="text" name="priceDto" th:value="${findBook.getPrice()}">
    <p>Quantity Page</p>
    <input type="text" name="quantityPageDto" th:value="${findBook.getQuantityPage()}">
    <p>Year book</p>
    <input type="text" name="yearDto" th:value="${findBook.getYear()}">

    <div th:action="@{/book/{id}(id=${findBook.getId()})}" th:object="${authorUpdate}" method="post">
    <p>First name author</p>
    <input type="text" name="firstNameDto" th:value="${findAuthor.getFirstName()}">
    <p>Last name author</p>
    <input type="text" name="lastNameDto" th:value="${findAuthor.getLastName()}">
    </div>
    <br>
    <br>
    <button type="submit">Update book</button>
</form>
</body>
</html>