<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>
<li><a th:href="@{/}">Home</a></li>
<h4>Add new book</h4>
<form th:action="@{/book/newbook}" th:object="${books}" method="post">
    <p>Name book</p>
    <input type="text" th:field="*{nameBookDto}">
    <p th:if="${#fields.hasErrors('nameBookDto')}" th:errors="*{nameBookDto}">You need to enter more characters</p>
    <p>Price book</p>
    <input type="text" th:field="*{priceDto}">
    <p th:if="${#fields.hasErrors('priceDto')}" th:errors="*{priceDto}">You need to enter more characters</p>
    <p>Quantity Page</p>
    <input type="text" th:field="*{quantityPageDto}">
    <p th:if="${#fields.hasErrors('quantityPageDto')}" th:errors="*{quantityPageDto}">You need to enter more
        characters</p>
    <p>Year book</p>
    <input type="text" th:field="*{yearDto}">
    <p th:if="${#fields.hasErrors('yearDto')}" th:errors="*{yearDto}">You need to enter more characters</p>

    <div th:action="@{/book/newbook}" th:object="${authors}" method="post">
        <p>First name author</p>
        <input type="text" th:field="*{firstNameDto}">
        <p th:if="${#fields.hasErrors('firstNameDto')}" th:errors="*{firstNameDto}">You need to enter more
            characters</p>
        <p>Last name author</p>
        <input type="text" th:field="*{lastNameDto}">
        <p th:if="${#fields.hasErrors('lastNameDto')}" th:errors="*{lastNameDto}">You need to enter more characters</p>
    </div>
    <br>
    <br>
    <button type="submit">Add new book</button>
</form>
</body>
</html>