<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List book</title>
    <style>
        td, th {
            border: 1px solid blue;
        }
    </style>
</head>
<body>
<br>
<br>
<li><a th:href="@{/}">Home</a></li>
<br>
<ol>
    <table>
        <thead>
        <tr>
            <th>Name book</th>
            <th>Year</th>
            <th>Quantity page</th>
            <th>Price</th>
            <th>FirstName author</th>
            <th>LastName author</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="item : ${books}">
        <tr>
            <td>
                <li th:text="${item.nameBook}"></li>
            </td>
            <td th:text="${item.year}"></td>
            <td th:text="${item.quantityPage}"></td>
            <td th:text="${item.price}"></td>
            <td><span th:each="producttbl: ${item.authors}"> <span th:text="${producttbl.firstName}"/></span></td>
            <td><span th:each="producttbl: ${item.authors}"> <span th:text="${producttbl.lastName}"/></span></td>
            <td><a th:href="@{/book/{id}(id=${item.getId()})}">Edit</a></td>
            <td><a th:href="@{/book/delete/{id}(id=${item.getId()})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</ol>
</body>
</html>