<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<!--<form th:action="@{/reg}" th:object="${registration}" method="post">-->
<!--    <li><a href="index.html" th:href="@{/}">Home</a></li>-->
<!--    <br>-->
<!--    Name <input size="25" type="text" th:field="*{name}">-->
<!--    <br>-->
<!--    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
<!--    <br>-->
<!--    Login <input size="25" type="text" th:field="*{login}">-->
<!--    <br>-->
<!--    <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>-->
<!--    <br>-->
<!--    Password <input size="25" type="text" th:field="*{password}">-->
<!--    <br>-->
<!--    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->
<!--    <br>-->
<!--    <button>Registration</button>-->
<!--</form>-->

<br>
<br>
<a th:href="@{/}">Home</a>

</body>
</html>