<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<a th:href="@{/}">Home</a>
<br>
<br>
<form th:action="@{/registration}" th:object="${userReg}" method="post">
    <p><input type="text" th:field="*{emailDto}" placeholder="Email"/></p>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{emailDto}">You need to enter more characters</p>
    <p><input type="password" th:field="*{passwordDto}" placeholder="Password"/></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{passwordDto}">You need to enter more characters</p>
    <p><input type="text" th:field="*{usernameDto}" placeholder="Username"/></p>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{usernameDto}">You need to enter more characters</p>
    <button type="submit">Registration</button>
</form>
</body>
</html>