<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List book</title>
    <style>
        td, th {
            border: 1px solid blue;
        }
    </style>
</head>
<body>
<br>
<br>
<li><a th:href="@{/}">Home</a></li>
<li><a th:href="@{/order}">Cart</a></li>
<h4>List book</h4>
<br>
<ol>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Name book</th>
            <th>Year</th>
            <th>Quantity page</th>
            <th>Price</th>
            <th>FirstName author</th>
            <th>LastName author</th>
            <th>Buy</th>
        </tr>
        </thead>
        <tr th:each="item, status : ${books}">
            <td th:text="${status.index + 1}">1</td>
            <td th:text="${item.nameBook}"></td>
            <td th:text="${item.year}"></td>
            <td th:text="${item.quantityPage}"></td>
            <td th:text="${item.price}"></td>
            <td><span th:each="producttbl: ${item.authors}"> <span th:text="${producttbl.firstName}"/></span></td>
            <td><span th:each="producttbl: ${item.authors}"> <span th:text="${producttbl.lastName}"/></span></td>
            <td>
                <!--                <a th:href="${#httpServletRequest.getContextPath()}/order/buy/item.getId()">Buy Now</a>-->
                                <a th:href="@{order/buy/{id}(id=${item.getId()})}">Buy Now</a>
<!--                <a th:href="${[#httpServletRequest.getContextPath()]/cart/buy/{id} (id=${item.getId()})]">Buy Now</a>-->
<!--                <a> <span th:each="producttbl: ${item.authors}"> <span th:href="@{order/buy/{id}(id=${producttbl.getId()})}"/></span>>Buy Now</a>-->
                <!--                ContextPath()-->
            </td>
<!--            th:action="@{/admin/{id}(id=${findUser.getId()})}"-->
        </tr>
        </tbody>
    </table>
</ol>
</body>
</html>