<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <style>
        td, th {
            border: 1px solid blue;
        }
    </style>
</head>
<body>
<li><a th:href="@{/}">Home</a></li>
<h4>User account</h4>
<ol>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="item : ${userAuth}">
            <td th:text="${item.getUsername()}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.password}"></td>
            <td><a th:href="@{/user/{id}(id=${item.getId()})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</ol>
</body>
</html>