<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List book</title>
    <style>
        td, th {
            border: 1px solid blue;
        }
    </style>
</head>
<body>
<br>
<br>
<li><a th:href="@{/}">Home</a></li>
<li><a th:href="@{/order}">Cart</a></li>

<div>Search for a book by title and by author</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Search</button>
</form>
<h4>List book</h4>
<br>
<ol>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Name book</th>
            <th>Year</th>
            <th>Quantity page</th>
            <th>Price</th>
            <th>FirstName author</th>
            <th>LastName author</th>
            <th>Buy</th>
        </tr>
        </thead>
        <tr th:each="item, status : ${books}">
            <td th:text="${status.index + 1}">1</td>
            <td th:text="${item.nameBook}"></td>
            <td th:text="${item.year}"></td>
            <td th:text="${item.quantityPage}"></td>
            <td th:text="${item.price}"></td>
            <td><span th:each="producttbl: ${item.authors}"> <span th:text="${producttbl.firstName}"/></span></td>
            <td><span th:each="producttbl: ${item.authors}"> <span th:text="${producttbl.lastName}"/></span></td>
            <td>
                <!--                <a th:href="${#httpServletRequest.getContextPath()}/order/buy/item.getId()">Buy Now</a>-->
                <a th:href="@{# order/buy/{id}(id=${item.getId()})}">Buy Now</a>
                <!--                <a th:action="${#httpServletRequest.getContextPath()}/cart/buy/${item.id}">Buy Now</a>-->
                <!--                <a th:href="${[#httpServletRequest.getContextPath()]/cart/buy/{id} (id=${item.getId()})]">Buy Now</a>-->

            </td>
        </tr>
        </tbody>
    </table>
</ol>
<div class="pagination-div">
    <span th:if="${books.hasPrevious()}">
        <a th:href="@{/userBookList(page=${books.number-1},size=${books.size})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, books.totalPages - 1)}">
        <span th:if="${books.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${books.number == i}">
             <a th:href="@{/userBookList(page=${i},size=${books.size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${books.hasNext()}">
        <a th:href="@{/userBookList(page=${books.number+1},size=${books.size})}">Next</a>
    </span>
</div>
</body>
</html>